<div class="row">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <h2>Pamél 'n' Essence</h2>
    </div>
        <div class="col-lg-4 col-12">
        <ul class="text-align-right">
            <li class="d-inline-block mr-2"><i class="fas fa-shopping-cart"></i></li>
            <li class="d-inline-block mr-2"><i class="fas fa-heart"></i></li>
            <li class="d-inline-block mr-2"><i class="fas fa-search"></i></li>
            
        </ul>
    </div>
</nav>
</div>