<div class="container-grid">
<div class="row">
    <div class="col-md-4 col-12 py-5">
        <img src="../../assets/images/img_01.jpg" 
        style="width: 200px; height: 200px;" 
        />
    </div>
    <div class="col-md-4 col-12 py-5"> 
        <img src="../../assets/images/img_01.jpg" 
        style="width: 200px; height: 200px;" 
        />
    </div>
    <div class="col-md-4 col-12 py-5"> 
        <img src="../../assets/images/img_01.jpg" 
        style="width: 200px; height: 200px;" 
        /></div>
    
</div>

<div class="row">
        <div class="col-md-4 col-12 py-5"> 
            <img src="../../assets/images/img_01.jpg" 
            style="width: 200px; height: 200px;"/>
            <button class="btn btn-primary">Shop now</button>
            <button class="btn btn-success">Shop later</button>
        </div>
           
        <div class="col-md-4 col-12 py-5"> 
            <img src="../../assets/images/img_01.jpg" 
            style="width: 200px; height: 200px;" 
            /></div>
        <div class="col-md-4 col-12 py-5"> 
            <img src="../../assets/images/img_01.jpg" 
            style="width: 200px; height: 200px;" 
            /></div>
        
    </div>
</div>
