<div class="container-grid">
<div class="row">
    <div class="col-md-4 col-12 py-5">
        <img src="../../assets/images/img_01.jpg" 
        style="width: 350px; height: 400px;"/>
        <button class="btn btn-dark">Shop now</button>
        <button class="btn btn-primary">Shop later</button>
    </div>
    <div class="col-md-4 col-12 py-5"> 
        <img src="../../assets/images/img_01.jpg" 
        style="width: 350px; height: 400px;"/>
        <button class="btn btn-dark">Shop now</button>
        <button class="btn btn-primary">Shop later</button>
    </div>
    <div class="col-md-4 col-12 py-5"> 
        <img src="../../assets/images/img_01.jpg" 
        style="width: 350px; height: 400px;"/>
        <button class="btn btn-dark">Shop now</button>
        <button class="btn btn-primary">Shop later</button>
    </div>
    
</div>

<div class="row">
        <div class="col-md-4 col-12 py-5"> 
            <img src="../../assets/images/img_01.jpg" 
            style="width: 350px; height: 400px;"/>
            <button class="btn btn-primary">Shop now</button>
            <button class="btn btn-success">Shop later</button>
        </div>
           
        <div class="col-md-4 col-12 py-5"> 
            <img src="../../assets/images/img_01.jpg" 
            style="width: 350px; height: 400px;" />
            <button class="btn btn-primary">Shop now</button>
            <button class="btn btn-success">Shop later</button>
        </div>
        <div class="col-md-4 col-12 py-5"> 
            <img src="../../assets/images/img_01.jpg" 
            style="width: 350px; height: 400px;" />
            <button class="btn btn-primary">Shop now</button>
            <button class="btn btn-success">Shop later</button>
        </div>
        
    </div>
</div>
